body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-light);
  background-color: var(--color-dark-alt);
}

::selection {
  color: var(--color-dark-alt);
  background-color: var(--color-light);
}

:focus-visible {
  outline: 2px dashed var(--color-light);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
