body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-light);
  background-color: var(--color-dark-alt);
}
