:root {
  --color-light: #f3f4f6;

  --color-gray: #9ca3af;
  --color-gray-alt: #2a2f37;

  --color-dark: #1a1d22;
  --color-dark-alt: #1e1e1e;

  --color-accent: #00447c;

  --border: 1px solid var(--color-gray-alt);

  --border-radius: 20px;
  --border-radius-small: 10px;

  --font-family-base: 'Inter', sans-serif;

  --transition-duration: 0.2s;
}
